:host {
    height: 100%;
    align-items: center;
}

mat-card-header {
    color: #000000;
}

mat-card-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.thumb-header-image {
    background-image: url('https://storage.googleapis.com/business-card-items/thumb01.jpg');
    background-size: cover;
}

mat-card {
    background-color: rgba(241,242,227,0.8);
    
    /*Cellphone*/
    @media only screen and (max-width: 768px) { 
        margin: 50px;
    }

    /*PC and Tablet*/
    @media only screen and (min-width: 768px) { 
        margin: 100px;
    }
}
